.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.label > input {
  height: 2rem;
  padding: 5px;
}
